<a href="https://colab.research.google.com/github/deepakgupta1313/Moloco/blob/master/Moloco_Analytics_Deepak_deepakgupta1313_gmail_com.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from datetime import datetime

In [0]:
data=pd.read_csv("Adops & Data Scientist Sample Data - Q1 Analytics.csv");

In [3]:
print(data.head())
print(data.shape)

                    ts user_id country_id site_id
0  2019-02-01 00:01:24  LC36FC        TL6   N0OTG
1  2019-02-01 00:10:19  LC39B6        TL6   N0OTG
2  2019-02-01 00:21:50  LC3500        TL6   N0OTG
3  2019-02-01 00:22:50  LC374F        TL6   N0OTG
4  2019-02-01 00:23:44  LCC1C3        TL6   QGO3G
(3553, 4)

Consider only the rows with country_id = "BDV" (there are 844 such rows). For each site_id, we can compute the number of unique user_id's found in these 844 rows. Which site_id has the largest number of unique users? And what's the number?

In [4]:
country_id="BDV";
data1=data[data["country_id"]==country_id];
print(data1.shape)
print(data1.head())

data1_unique=data1[['user_id', 'site_id']];
data1_unique=data1_unique.drop_duplicates()
print(data1_unique.head());
print(data1_unique.shape);
data1_unique=data1_unique["site_id"];
print(data1_unique.value_counts())

(844, 4)
                     ts user_id country_id site_id
13  2019-02-01 00:47:58  LC3C22        BDV   N0OTG
32  2019-02-01 02:46:15  LC375A        BDV   5NPAU
87  2019-02-01 06:44:42  LC392E        BDV   N0OTG
88  2019-02-01 07:36:56  LC3FAE        BDV   5NPAU
94  2019-02-01 08:58:35  LC3AFF        BDV   3POLC
   user_id site_id
13  LC3C22   N0OTG
32  LC375A   5NPAU
87  LC392E   N0OTG
88  LC3FAE   5NPAU
94  LC3AFF   3POLC
(636, 2)
5NPAU    544
N0OTG     90
3POLC      2
Name: site_id, dtype: int64

Between 2019-02-03 00:00:00 and 2019-02-04 23:59:59, there are four users who visited a certain site more than 10 times. Find these four users & which sites they (each) visited more than 10 times. (Simply provides four triples in the form (user_id, site_id, number of visits) in the box below.)

In [5]:
start_time="2019-02-03 00:00:00";
end_time="2019-02-04 23:59:59";
data2=data;
data2["ts"]=pd.to_datetime(data2["ts"]);
print(data2.head());
data2=data2[data2["ts"]>=start_time];
data2=data2[data2["ts"]<=end_time];
print(data2.head());
data2=data2[['user_id', 'site_id']];
print(data2.head());
print(data2.groupby(['user_id','site_id']).size().reset_index(name='Count').sort_values(by='Count', ascending=False).head())

                   ts user_id country_id site_id
0 2019-02-01 00:01:24  LC36FC        TL6   N0OTG
1 2019-02-01 00:10:19  LC39B6        TL6   N0OTG
2 2019-02-01 00:21:50  LC3500        TL6   N0OTG
3 2019-02-01 00:22:50  LC374F        TL6   N0OTG
4 2019-02-01 00:23:44  LCC1C3        TL6   QGO3G
                      ts user_id country_id site_id
1049 2019-02-03 00:02:31  LC3C7E        TL6   3POLC
1050 2019-02-03 00:03:09  LC3C7E        TL6   3POLC
1051 2019-02-03 00:03:46  LC3C7E        TL6   3POLC
1052 2019-02-03 00:04:12  LC3C7E        TL6   3POLC
1053 2019-02-03 00:04:25  LC3C7E        TL6   3POLC
     user_id site_id
1049  LC3C7E   3POLC
1050  LC3C7E   3POLC
1051  LC3C7E   3POLC
1052  LC3C7E   3POLC
1053  LC3C7E   3POLC
    user_id site_id  Count
417  LC3A59   N0OTG     26
3    LC06C3   N0OTG     25
493  LC3C9D   N0OTG     17
485  LC3C7E   3POLC     15
357  LC38EB   N0OTG      9

For each site, compute the unique number of users whose last visit (found in the original data set) was to that site. For instance, user "LC3561"'s last visit is to "N0OTG" based on timestamp data. Based on this measure, what are top three sites? (hint: site "3POLC" is ranked at 5th with 28 users whose last visit in the data set was to 3POLC; simply provide three pairs in the form (site_id, number of users).)

In [6]:
data3=data.sort_values(by="ts");
data3=data3.loc[data3.groupby("user_id").ts.idxmax()];
print(data3.head())
print(data3.loc[data3["user_id"]=="LC3561"]);
data3=data3["site_id"];
print(data3.value_counts())

                      ts user_id country_id site_id
1422 2019-02-03 18:52:50  LC00C3        QLT   5NPAU
1767 2019-02-04 11:35:10  LC01C3        QLT   5NPAU
733  2019-02-02 14:14:44  LC05C3        BDV   5NPAU
3078 2019-02-07 01:16:12  LC06C3        TL6   N0OTG
2402 2019-02-05 19:06:42  LC07C3        BDV   5NPAU
                      ts user_id country_id site_id
3545 2019-02-07 23:44:34  LC3561        TL6   N0OTG
5NPAU    992
N0OTG    561
QGO3G    289
GVOFK     42
3POLC     28
RT9Z6      2
JSUUP      1
EUZ/Q      1
Name: site_id, dtype: int64

For each user, determine the first site he/she visited and the last site he/she visited based on the timestamp data. Compute the number of users whose first/last visits are to the same website. What is the number?

In [7]:
data4=data.sort_values(by="ts");
data4_first=data4.loc[data4.groupby("user_id").ts.idxmin()];
data4_last=data4.loc[data4.groupby("user_id").ts.idxmax()];
#print(data4_first.head())
data4_first=data4_first[['user_id', 'site_id']];
data4_last=data4_last[['user_id', 'site_id']];
print(data4_first.shape);
print(data4_last.shape)
data4=pd.merge(data4_first, data4_last, how='inner');

print(data4.shape)

(1916, 2)
(1916, 2)
(1670, 2)